<div class="row">
  <div class="col">
    <div class="card card-plain m-3">
      <div class="card-body">
        <h3 class="font-weight-normal"> {{studentProfileDetails?.name || 'Student Details'}}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <div class="card-plain">
          <div class="card-body">
            <div class="d-flex">
              <ul ngbNav #nav="ngbNav" (activeIdChange)="changeState($event)" [(activeId)]="active" class="nav-pills"
                orientation="vertical">
                <li ngbNavItem="spd">
                  <a style="width: 200px;" ngbNavLink>Profile</a>
                  <ng-template ngbNavContent>
                    <app-profile-view [studentProfileInfo]="studentProfileDetails"
                      (studentProfileInfo)="profileInit($event)" [studentId]="studentId">
                    </app-profile-view>
                  </ng-template>
                </li>
                <li ngbNavItem="sqd">
                  <a ngbNavLink>Quiz Report</a>
                  <ng-template ngbNavContent>
                    <app-quiz-report [studentQuizDetails]="studentQuizDetails" (studentQuizDetails)="quizInit($event)"
                      [studentId]="studentId">
                    </app-quiz-report>
                  </ng-template>
                </li>
                <li ngbNavItem="ls">
                  <a ngbNavLink>Level</a>
                  <ng-template ngbNavContent>
                    <div class="row">
                      <div class="col-10 text-left">
                        <div class="form-group">
                          <label class="font-weight-bold" for="">Select Level</label>
                          <select (change)="setLevel($event)" [(ngModel)]="studentProfileDetails.level" name="level"
                            class="form-control" id="level">
                            <option disabled value=""></option>
                            <option *ngFor="let l of levels" [value]="l._id">{{l?.title}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-2 text-left">
                        <div class="form-group">
                          <label for="">&nbsp;</label><br>
                          <button (click)="saveLevel()" class="btn btn-block btn-success">Save & Approve</button>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </li>
              </ul>

              <div [ngbNavOutlet]="nav" class="ml-4" style="width: 100%;"></div>
            </div>
          </div>
        </div>

      </div>


      <!-- <div class="container">
              <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                  <ngb-tabset [justify]="'center'">
                    <ngb-tab title="Home">
                    <ng-template ngbTabContent>
                      <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient. With a smooth metal surface that seamlessly meets the new Retina HD display.</p>
                    </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Profile">
                    <ng-template ngbTabContent>
                      <p>Here is your profile.</p>
                    </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Messages">
                    <ng-template ngbTabContent>
                      <p>Here are your messages.</p>
                    </ng-template>
                    </ngb-tab>
                  </ngb-tabset>
                </div>
              </div>
            </div> -->

    </div>
  </div>

</div>