<div class="row">
    <div class="col">
        <h3 class="font-weight-bold">Levels</h3>
        <div class="card-plain">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <a routerLink="/level/create" class="btn btn-success">Create</a>
                        <hr>
                    </div>
                    <!-- <div class="col-md-10">
                        <div class="form-group">
                            <input [(ngModel)]="search.title" name="title" class="form-control form-control-sm"
                                placeholder="Title..." type="text">
                        </div>
                    </div> -->
                    <!-- <div class="col-md-5">
                        <div class="form-group">
                            <select [(ngModel)]="search.type" name="type" class="form-control" id="type">
                                <option value="teacher_onboarding">Teacher On-Boarding</option>
                            </select>
                        </div>
                    </div> -->
                    <!-- <div class="col-md-2">
                        <button (click)="loadContracts()" class="btn btn-block btn-info">Filter</button>
                    </div> -->
                </div>
            </div>
            <table class="table table-responsive-md table-hover">
                <thead>
                    <tr class="text-center">
                        <th scope="col">Title</th>
                        <!-- <th scope="col">Type</th> -->
                        <th scope="col">Active</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" *ngFor="let l of levels; let i=index">
                        <td>{{ l?.title || 'None'}} <br>
                            <!-- <a href="{{staticUrl}}{{l?.file}}" class="font-weight-bold" target="_blank">Attachment</a> -->
                        </td>

                        <!-- <td>{{ (l?.type =='teacher_onboarding')? 'Teacher On-Boarding':l?.type }}</td> -->

                        <td>
                            <div class="form-check form-check-inline">
                                <div *ngIf="l.isActive" class="custom-control custom-checkbox">
                                    <input (click)="activationLevel(l._id, l.isActive,i)" checked onclick="return false"
                                        name="block" class="custom-control-input" id="'b-'{{l._id}}"
                                        type="checkbox" /><label class="custom-control-label"
                                        for="'b-'{{l._id}}"></label>
                                </div>
                                <div *ngIf="!l.isActive" class="custom-control custom-checkbox">
                                    <input (click)="activationLevel(l._id, l.isActive,i)" onclick="return false"
                                        name="block" class="custom-control-input" id="'b-'{{l._id}}"
                                        type="checkbox" /><label class="custom-control-label"
                                        for="'b-'{{l._id}}"></label>
                                </div>
                            </div>
                        </td>
                        <td>
                            <button (click)="deleteLevel(l._id,i)" class="btn btn-sm btn-danger btn-circle"
                                type="button">
                                X
                            </button>
                            <a routerLink="/level/edit/{{l?._id}}" class="btn btn-sm btn-info btn-circle" type="button">
                                E
                            </a>
                            <!-- <a routerLink="/users/student/details/{{u._id}}" class="btn btn-sm btn-info btn-circle">
                                D
                            </a> -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <ngb-pagination class="d-flex justify-content-end" (pageChange)="pagination($event)" [pageSize]="numOfItems"
            [collectionSize]="collSize" [(page)]="currPage" [maxSize]="6" [boundaryLinks]="true" size="sm">
        </ngb-pagination>
    </div>
</div>